body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif; 
background-color: yellow; 
}  
header {
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
text-decoration: none;  
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    color: red;
}
.headerr{
    background-color: yellow;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
} 