body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif; 
}  
header {
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
text-decoration: none;  
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    color: red;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card{
    display: flex;
    align-items: center;
    margin: 14px;
}
.headerr{
    position: relative;
    width: 100%;
    padding-top: 57px;
    margin-top: -57px;
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    background-color: var(--color-secondary);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.styles{
    display: flex;
    flex-direction: column;

}
.styles_card{
    display: flex;
    align-items: center;
    margin: 14px 0;
    justify-content: space-around;
}
.styles_card_icon__Jt_3H {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.styles_card__hpklv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 160px;
    padding: 10px 7px;
    margin: 10px;
    background: #fff;
    border: 1.5px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.styles_name__OTyeY {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
    text-align: center;
}
.styles_add_more__5vDZp {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
.styles_find__zT3eI {
    margin-right: 4px;
}
a {
    color: var(--font-color-link);
    text-decoration: none;
}
body {
    font-family: var(--font-family);
    font-size: var(--font-size-md);
    line-height: var(--line-height);
    color: var(--font-color);
    -webkit-font-smoothing: antialiased;
}
.styles_container__TOMue {
    --layout-topbar: 56px;
    --layout-startbar: 200px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 100vh;
    padding-top: var(--layout-topbar);
}
* {
    box-sizing: border-box;
}
.styles_container{
    width: 1200px;
}
.styles-module_container__EvXjS {
    width: 960px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
:root {
    --color-primary: #ee3425;
    --color-primary-1: #ee3425;
    --color-primary-2: #ee3425;
    --color-secondary: #fbdc00;
    --color-secondary-1: #ebbe00;
    --font-color: #434343;
    --font-color-heading: #000;
    --font-color-link: var(--color-primary);
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    --font-size-xl: 18px;
    --font-size-lg: 16px;
    --font-size-md: 14px;
    --font-size-sm: 12px;
    --font-size-xs: 10px;
    --line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    color: var(--font-color-heading);
}
h3 {
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.styles_register_login__F_Jck {
    /* display: flex; */
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    margin-left: 200px;
}
button {
    font-family: var(--font-family);
    font-size: 14px!important;
    font-weight: 700!important;
    border: 2px solid red;
    background-color: red;
}
.sliding_container {
    margin-bottom: 50px;
}
.sliding_heading{
    text-align: center;
}
.sliding_box{
    display: flex;
    gap: 0.1rem;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.sliding{
    display: flex;
    flex-shrink: 0;
    gap: 0.1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    animation: styles_scroll__Yny6C 60s linear infinite;
}
.supp_chain_container{
    margin-bottom: 50px;
    background: var(--color-secondary);
}
.styles_container__YcS5m.ui_fixed_container {
    width: 1200px;
}
.styles-module_container__EvXjS {
    width: 960px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.styles_container__S98lD {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styles_header__sJd0q {
    padding: 25px 0;
}
.signup_button{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    outline: none;
    transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    will-change: color,background-color,border-color;
    border-radius: 8px!important;
    /* width: 100%; */
    line-height: 1.2;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
}

/* how it works */
.how_it_works {
    width: 1200px;
    align-self: center;
    margin-left: 150px;
}
.how_it_works_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
}
.how_it_works_button {
    display: flex;
    justify-content: space-between;
}
.how_it_works_cont
.For_Cargo_Owners_button {
    width: 200px;
    padding: 10px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    border-radius: 20px;
}
.For_Cargo_Owners_button {
    border-radius: 20px;
    background-color: var(--color-secondary)!important;
    border: var(--color-secondary)!important;
}
.how_it_works_cont
.For_Logistics_Partners_button {
    width: 200px;
    padding: 10px;
    margin: 0 20px;
    font-weight: 700;
    color: #000!important;
    
}
.For_Logistics_Partners_button {
    border-radius: 20px;
    background: #e5dfdf!important;
    border: grey!important;
}
.styles_container__7cFsf {
    position: relative;
    display: flex;
}
div {
    display: block;
}
.styles_container__7cFsf {
    position: relative;
    display: flex;
}
.styles_stage1__RwgVC {
    margin-bottom: 120px;
}
.styles_main__9QKz8 {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.styles_imagecontainer__7Ps6C {
    display: flex;
    align-items: center;
    justify-content: center;
}
.styles_redtext__qNc_O {
    font-weight: 600;
    color: #ee3425;
}

p {
    font-size: 16px;
}
.styles_heading__GyQVu {
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    margin: 0;
    list-style-position: outside;
}
.styles_main__9QKz8 span {
    display: flex;
}
.styles_para__7I1R1 {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
.styles_arrow1__hJg7v {
    position: absolute;
    top: 104px;
    left: 300px;
}
.styles_arrowimage__50gz2 {
    width: 150px;
    height: 60px;
}
.styles_main__9QKz8 span {
    display: flex;
}
.styles_para__7I1R1 {
    padding-bottom: 5px;
    padding-left: 8px;
    margin: 0;
}
.styles_main__9QKz8 {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(169 188 218 / 65%);
}
.styles_arrow2__JOZhk {
    position: absolute;
    bottom: 116px;
    left: 300px;
}
.styles_arrowimage__50gz2 {
    width: 150px;
    height: 60px;
}
.styles_imagecontainer__7Ps6C {
    display: flex;
    align-items: center;
    justify-content: center;
}
.styles_image__cFHAa {
    width: 560px;
    height: 320px;
}
.styles_arrow3__XQhnr {
    position: absolute;
    top: 104px;
    right: 300px;
}
.styles_arrow4__W5PwF {
    position: absolute;
    right: 300px;
    bottom: 116px;
}
.styles_stage3__anVPg {
    margin-bottom: 120px;
}
/* blog */
.styles_container__YcS5m.ui_fixed_container {
    width: 1200px;
}
.styles_blog_container__3X_0M {
    display: flex;
    flex-direction: column;
}
.styles_heading__n9MVL {
    text-align: center;
}
h3 {
    font-size: 28px;
    line-height: 1.2;
}
.styles_cards_container__1tjAy {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.styles_card__qp3LP {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsl(0deg 0% 79% / 50%);
}
.styles_card__qp3LP a {
    color: #000!important;
    text-decoration: none;
}
.styles_card_thumbnail__zF8QZ {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #fbdc00;
    -o-object-fit: cover;
    object-fit: cover;
}
.styles_blog_card_content__eDCmr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 16px;
}
.styles_card_title__D5epU {
    margin-bottom: 5px;
    font-size: 16px!important;
    color: var(--color-primary);
}
.styles_card_name__aq9WH {
    margin-bottom: 5px;
    font-size: 18px;
    color: #000!important;
}
.styles_overview__Cb6CL {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
}
.styles_read_container__C9N_V {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.styles_read_more__6_oMk {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
}
.styles_card_title1__MR1j6 {
    margin-bottom: 5px;
    font-size: 14px!important;
    color: #9a9a9a;
}
.styles-module_container__EvXjS {
    width: 960px;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
}
.styles_button_container__NubT0 {
    justify-content: center;
    text-align: center;
}
.ui_button_container.ui_ps_themeType_primary {
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    padding: 8px 42px;
    border-radius: 4px;
}

/* videos */
.video{
    position: relative;
    cursor: pointer;
    /* background-color: rgba(0,0,0,.4); */
 }
 
 .play_button{
    position: absolute;
    display: flex;
    /* margin-top:8px; */
     align-items: center; 
    justify-content: center; 
    background-color: rgba(0,0,0,.4);
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
 }
 .video_below{
    background: #ee3425;
    position: relative;
    /* display:flex; */
    margin-top:-15px;
    margin-bottom: 40px;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 50px;
 }
 .grow_fast{
    display: flex;
    width: 1200px;
    align-items: center;
    /* color: #fff; */
    padding: 0px;
    justify-content: space-between;
 }
 .grow_fast h3{
    color: #fff;
    font-size: 28px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
 }
 .grow_fast p{
    color: #fff;
    font-size: 16px;
 }
 .grow_fast a{
    display: flex;
    height: 36px;
    background: #fbdc00;
    /* border: 1px solid red; */
    /* border-radius: 5px; */
    align-items: center;
    /* justify-content: space-around; */
    padding: 6px 9px;
    /* border: none; */
    text-decoration: none;
    color: #000;
    font-size:14px;
    font-family: "PT Sans",sans-serif;
    font-weight: 700;
 }
 /* subscribe */
 .subscribe{
    display: flex;
    background: #fbdc00;
    align-items: center;
    justify-content: center;
    padding: 120px 120px;
    /* border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%; */
 }
 .human{
    padding: 20px;
    margin: 20px;
 }
 .newsletter h3{
    font-size:28px;
    margin-bottom: 5px;
    
 }
 .miss{
    font-size: 16px;
    font-family: "PT Sans",sans-serif;
    color: #434343;
    /* margin: ; */
 }
 .email_id{
    display: flex;
    margin-top: 20px;
    /* width: 240px; */
 }
 .email_id input[type=email]{
    box-sizing: border-box;
     display: inline-block;
     width: 250px;
     height: 36px;
     padding: 10px;
     border: 2px solid transparent;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
     outline: none;
 }
 .email_id button[type=submit]{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 4px 16px;
    border: 2px solid red;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ee3425;
    cursor: pointer;
 }
 ul.col_1 li a:link{
    color: blue;
    background-color: transparent;
    text-decoration: none;
 }
 .box_social_media {
    margin-left: 1200px;
    
 }
 
 a.col:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
 }
 a.col:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
 a.col:hover {
  color: red;
  --font-weight:bolder;
  background-color: transparent;
 }
 a.col:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
 }
 ul.col_1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 ul.col_2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 ul.col_3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 ul.col{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 .col_1 {
    display: flex;
    padding: 0px 0px 0;
    flex-direction: column;
 }
 .col_2 {
    display: flex;
    padding: 0px 0px 0px 75px;
    flex-direction: column;
 }
 .col_3 {
    display: flex;
    padding: 0px 0px 0px 75px;
    flex-direction: column;
 }
 .col {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 20px 30px 0;
    background-color: #ebbe00;
 }
 ul.tab_1 {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 50px;
 }
 ul.tab_2 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
 }
 ul.tab_3 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
 }
 ul.tab_4 {
    list-style-type: none;
    margin-left:  50px;
    padding: 0;
 }
 ul.tab_5 {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
 }
 .box_upper_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 35px 10px 50px;
    font-family: var(--font-family);
    background: #fbdc00;
 }
 .list_1 {
    margin-right: 0px;
 }
 .list_2 {
    margin-right: 0px;
 }
 .list_3 {
    margin-right: 00px;
 }
 .list_4 {
    margin-right: 0px;
 }
 .list_5 {
    margin-right: 0px;
    
 }
 .product {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 0px;
    padding: 0 50px;
 }
 .Partners {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 50px;
 }
 .Company {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 50px;
 }
 .Knowledge_center{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 50px;
 }
 .Cross_border_Logistic {
    font-weight: bold;
 }
 .Domestic_Logistics {
    font-weight: bold;
 
 }
 .Supply_Chain_Solutions{
    font-weight: bold;
 }
 .Financial_Sevice{
    font-weight: bold;
 }
 .Our_Logistics_Providers{
    font-weight: bold;
 }
 .Partnership_Program{
    font-weight: bold;
 }
 .Resources{
    font-weight: bold;
 }
 ul.tab_1 li{
    padding: 5px;
 }
 ul.tab_2 li{
    padding: 5px;
 }
 ul.tab_3 li{
    padding: 5px;
 }
 ul.tab_4 li{
    padding: 5px;
 }
 ul.tab_5 li{
    padding: 5px;
 }
 .how_it_works {
    width: 1200px;
 }
 .before_footer{
    display: flex;
    background: #ebbe00;
    align-items: center;
    padding: 20px 50px 0;
    justify-content: space-around;
    list-style-type: none;
 }
 
 .ports{
   margin-bottom: 4px;
 }
 
 .ports li{
    line-height: 2rem;
    font-size: 14px;
    color: #000;
    font-family: "PT Sans",sans-serif;
    cursor: pointer;
 }
 .ports li:hover{
    color: red;
 }
 .footer{
    background: #ebbe00;
    padding: 20px 0px;
 }
 .footer_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    font-family:"Ubuntu",sans-serif;
 }
 .exc_social_media{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
 }
 .fleft
 {
    margin-left: 90px;
    color: #434343;
 }
 .fmiddle{
    display: flex;
    margin-left:60px;
    color: #000;
    /* font-size:14px; */
    padding:0px 0px 0px 40px;
 }
 .fmiddle li{
    margin-right: 5px;
    /* font-size: 12px;
    font */
 }
 .social_media
 {
    margin-right: 70px;
 }